<h1>Личный кабинет - {{authService.getCurrentUser().name}}</h1>
<br>
<a class="btn btn-primary btn-lg" routerLink="/my/items/new"><i class="fa fa-plus"></i> Разместиться на сайте</a>
<br>
<br>
<a class="btn btn-primary btn-lg" routerLink="/my/items"><i class="fa fa-list"></i> Мои объявления</a>
<br>
<br>
<a class="btn btn-primary btn-lg" routerLink="/my/services"><i class="fa fa-check"></i> Подписка</a>
<br>
<br>
<a class="btn btn-primary btn-lg" routerLink="/my/settings"><i class="fa fa-cog"></i> Настройки профиля</a>
<br>
<br>
<a class="btn btn-primary btn-lg" routerLink="/my/notifications"><i class="fa fa-bell"></i> Уведомления</a>
